@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
body{
    padding: 0;
    margin: 0;
}
.main-page5{
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 60px;
    padding-top: 30px;
}
.button-part{
    display:block;
    width: 100px;
}
.back, .share{
    display: grid;
    grid-template-columns: auto;
    height: 45px;
    width: 45px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: #f5f5fb;
    border-style: none;
    border-radius: 50%;
}
.back:hover{
    background-color: lavender;
}
.share:hover{
    background-color: lavender;
}
.back:focus{
    outline: none;
}
.share:focus{
    outline: none;
}
.back-image{
    align-self: center;
    justify-self: center;
    height: 32px;
    width: 32px;
}
.share-image{
    align-self: center;
    justify-self: center;
    height: 28px;
    width: 28px;
}
.main-part5{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
}
.link-part5{
    display:block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 70%;
    margin-top: -15px;
    margin-left: 70px;
    animation: drop 0.8s ease-in-out;
}
@keyframes drop{
    0%{
        transform: translateY(-100px);
        opacity: 0.2;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;  
    }
}
.link-part5 p{
    background-color: rgb(0, 0, 0);
    height: 28px;
    color: white;
    text-align:center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
.resume-part5{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-gap: 15px;
    height: auto;
    width: 100%;
    background-color: #110f0f;
    padding-bottom: 25px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px 1px gainsboro;
    margin-top: 20px;
}
.first-row5{
    display: block;
    color: rgb(243, 241, 241);
    padding-left: 30px;
    padding-top: 20px;
    background-image: linear-gradient(to right,#b0060f,#df0b16,#b0060f) ;
}
.first-row5 h1{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 0px;
}
.first-row5 p{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 12px;
    font-size: 400;
    padding-left: 5px;
}
.second-row5{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 35px;
}
.first-col5{
    display: block;
    margin-left: 30px;
}
.col-items5{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 2px;
    color: white;
    background-color: #110f0f;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.col-items5 h3{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}
.col-items5 hr{
    width: 100%;
    height: 0.5px;
    background-color: #df0b16;
    border-style: none
}
.col-items5 h4{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 8px;
    color: white;
}
.col-items5 p{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 5px;
    color: white;
}

.second-col5{
    display: block;
    margin-right: 20px;
}
.second-col-items5{
    margin-bottom: 30px;
}
.second-col-items5 h3{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    color: white;
}
.second-col-items5 p{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 3px;
    color: white;
}
.second-col-items5 button{
    background-color: #df0b16;
    font-family: 'Noto Sans HK', sans-serif;
    border-style: none;
    border-radius: 5px;
    color: white;
    height: 25px;
    width: 70px;
    font-size: 12px;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: 600;
}
.second-col-items5 button:focus{
    outline: none;
}
.second-col5 hr{
    width: auto;
    height: 0.3px;
    background-color: #df0b16;
    border-style: none
}