@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 0;
}
.main-page11{
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 60px;
    padding-top: 30px;
}
.button-part{
    display:block;
    width: 100px;
}
.back, .share{
    display: grid;
    grid-template-columns: auto;
    height: 45px;
    width: 45px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: #f5f5fb;
    border-style: none;
    border-radius: 50%;
}
.back:hover{
    background-color: lavender;
}
.share:hover{
    background-color: lavender;
}
.back:focus{
    outline: none;
}
.share:focus{
    outline: none;
}
.back-image{
    align-self: center;
    justify-self: center;
    height: 32px;
    width: 32px;
}
.share-image{
    align-self: center;
    justify-self: center;
    height: 28px;
    width: 28px;
}
.main-part11{
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.6fr;
}
.link-part11{
    display:block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 70%;
    margin-top: -15px;
    margin-left: 70px;
    animation: drop 0.8s ease-in-out;
}
@keyframes drop{
    0%{
        transform: translateY(-100px);
        opacity: 0.2;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;  
    }
}
.link-part11 p{
    background-color: rgb(0, 0, 0);
    height: 28px;
    color: white;
    text-align:center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
.resume-part11{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-gap: 15px;
    height: auto;
    width: 100%;
    background-color: white;
    padding-bottom: 25px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px 1px gainsboro;
    margin-top: 20px;
}
.first-row11{
    display: block;
    color: #d7df23;
    padding-left: 35px;
    padding-top: 10px;
    background-image: linear-gradient(to top right,black,#4a4a4a);
}
.first-row11 h1{
    font-family: 'Mukta', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}
.first-row11 p{
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    font-size: 700;
}
.second-row11{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 35px;
}
.first-col11{
    display: block;
    margin-left: 30px;
}
.col-items11{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 2px;
    color: black;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.col-items11 h3{
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.col-items11 hr{
    width: 100%;
    height: 0.8px;
    background-color:#cce500;
    border-style: none
}
.col-items11 h4{
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
}
.col-items11 p{
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 5px;
    color: black;
}

.second-col11{
    display: block;
    margin-right: 20px;
}
.second-col-items11{
    margin-bottom: 30px;
}
.second-col-items11 h3{
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    color: black;
}
.second-col-items11 p{
    font-family: 'Mukta', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 3px;
    color: black;
}
.second-col-items11 button{
    background-color: #cce500;
    font-family: 'Mukta', sans-serif;
    border-style: none;
    border-radius: 5px;
    color: black;
    height: 25px;
    width: 70px;
    font-size: 12px;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}
.second-col-items11 button:focus{
    outline: none;
}
.second-col11 hr{
    width: auto;
    height: 0.8px;
    background-color: #cce500;
    border-style: none
}
