@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 0;
}
.signin-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}
.signin{
    grid-column: 2/3;
    height:55px;
    width: 300px;
    border-style: none;
    background-color: #5228a1e3;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(238, 238, 238);
    justify-self: center;
    align-self: center;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.3s;
    font-weight: 500;
}
.signin:focus{
    outline: none;
}
.signin:hover{
    box-shadow: inset 300px 0 0 0 black;
    font-size: 18px;
}
.signout-div{
    display: block;
}
